
.Home{
    width: 100%;
}


.Buttons{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 15px;
    align-items: center;
    /* position: sticky; */
    top:0px;
    left:0px;
    text-decoration: none;
    z-index: 100;
    background-color: white;
    border-radius: 20px;
}



.cssbuttons-io-button {
    background: #4faeb2;;
    color: white;
    font-family: Inter;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 18px;
    font-weight: 900;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #39f7f7;;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    text-decoration: none;
  }
  
  .cssbuttons-io-button .icon {
    text-decoration: none;
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(49, 49, 49);
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    text-decoration: none;
    width: 1.1em;
    transition: transform 0.3s;
    color: #4faeb2;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  

.main-container {
  display: flex;
  min-height: 100vh;
  position: relative;
  margin: 0px 30px;
}

.service-provider-container {
  background-image: url('/workspaces/Swifto/Client/src/assets/service-provider-container.png');
  /* height: 100vh; */
  width: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.customer-container {
  background-image: url('/workspaces/Swifto/Client/src/assets/customer-container.png');
  /* height: 100vh; */
  width: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

 }

.name{
position: absolute;
top: 63%;
left: 43%;
transform: translate(-50%, -50%);
border: 12px solid white;
width: 310px;
background-color: #4faeb2;;
text-align: center;
font-size: 30px;
padding: 25px 15px;
font-family: 'Stylish', serif;

color: whitesmoke;
}

.swifto{
  letter-spacing: 5px;
margin: 0px;
margin-top: 40px;
font-size: 60px;
font-family: 'Salsa', cursive;
text-shadow: 3px 6px 9px rgba(221, 238, 255, 0.44);

	-webkit-animation: swifto 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: swifto 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



.Top-sticks{
  background-color: #4faeb2;;
  height: 100vh;
  display: flex;
  /* margin-top: 80px; */
  position: relative;
  
}


.top-sticks-left{
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: -12px 12px black;
  position: relative;
  margin-left: 60px;
  margin-top: 70px;
  writing-mode: vertical-rl; 
  text-orientation: upright; 
  font-size: 80px;
  background-color: white;
  padding: 50px 40px;
  -webkit-animation: swifto 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: swifto 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.top-sticks-left:hover {
  cursor: pointer;
  left: 2px;
  top: -2px;
  box-shadow: -16px 16px black;
}

.top-sticks-left:active {
  left: -1px;
  top: 1px;
  box-shadow: -12px 12px black;
}




.top-sticks-right{
  text-align: center;
  display:flex;
  justify-content: center;
  align-items:center;
  padding: 40px;
  margin: 120px;
  background-color: whitesmoke;
  border-radius: 30% 70% 38% 62% / 67% 61% 39% 33% 
}

.Title h1, .info-section h1, .call-out-section h1{
  font-size: 40px;
  font-family: 'Rubik Doodle Shadow', system-ui;
  color: #4faeb2;
}

.Title h2, .info-section h2, .call-out-section h2{
  font-family: 'Inter', sans-serif;
  font-size: 25px;
}

.service-section-card{
  height: 100vh;
  position: sticky;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .service-section{
    width: 1000px;
    height: 400px;
    background-color: #4faeb2;
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0px auto;
    padding: 70px;
    /* border-radius: 10% 90% 9% 91% / 88% 13% 87% 12% ; */
    border-radius: 50px;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,1),
  inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  }

  .service-section h2{
    width: 450px;
  }

  .service-section h1{
    font-size: 50px;
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: whitesmoke;
  }

  .service-section h2{
    font-size: 30px;
    font-family: 'Stylish', serif;
    color: rgb(0, 0, 0);
  }
  .service-section img{
    border-radius: 34% 66% 51% 49% / 81% 57% 43% 19% ;
    height: 300px;
    border: 10px solid whitesmoke;
  }



  /* Footer.css */
.footer {
  background-color: #4faeb2;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
}

.footer-info p {
  margin: 5px;
  font-size: 18px;
}




  @-webkit-keyframes swifto {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes swifto {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }

  